#contacto{
    height: 40vh;
    background-color: black;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContacto{
    font-size: 70px;
    color: aliceblue;
    margin: 40px 50px 20px 50px;
}

.logoContacto:hover{
    color: rgb(80, 198, 245);
    transition: 1s;
    cursor: pointer;
}

