#contacto{
    height: 540px;
    background-color: rgb(8, 8, 8);
    padding-top: 100px;
    
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContacto{
    font-size: 50px;
    color: rgb(254, 254, 254);
    margin: 40px 50px 20px 20px;
}
.linkedin{
    margin-right: 28px;
}
.logoContacto:hover{
    color: rgb(80, 198, 245);
    transition: 1s;
    cursor: pointer;
}

.contenedorContacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContacto{
    color: white;
    font-size: 20px;
    margin-left: 2px;
    text-decoration: none;
    padding-top: 10px;
}

.cv{
    margin-left: 58px;
}

@media only screen and (max-width: 600px){
  .flex{
      display: grid;
      grid-template-columns: 1fr;
  }

  /* .emailText{
      background-color: brown;
      font-size: 17px;
      margin-right: 28px;
  }

  .logoContacto{
    margin: 40px 50px 20px 0px;
    background-color: brown;
  } */
}