.contenedorComponente {
  height: 100vh;
  background-image: url("../../imagen/fondo2.jpg");
  /* background-repeat:repeat; */
  background-attachment: fixed;
  
}

.logo {
  width: 200px;
  border-radius: 50%;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  padding: 250px 50px;
}

.descripcion h1 {
  font-size: 50px;
}

h1 {
  -webkit-text-stroke: 2px rgb(80, 198, 245);
  color: black;
}

.descripcion p {
  font-size: 25px;
  color: white;
}
