.tituloHabilidades {
  padding: 15px;
  border-radius: 5px;
  margin-top: 40px;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px rgb(80, 198, 245) solid;
  display: inline-block;
  font-family: "Dosis",sans-serif;
}

.habilidad {
  font-size: 70px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 10px;
}

.habilidad:hover {
  color: rgb(80, 198, 245);;
  transition-duration: 2s;
}
