.tituloHabilidades {
  padding: 15px;
  border-radius: 5px;
  margin-top: 40px;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.habilidad {
  font-size: 70px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 10px;
}

.habilidad:hover {
  color: rgb(80, 198, 245);;
  transition-duration: 2s;
}
